<nav class="nav nav-underline justify-content-between">
    <a class="nav-item nav-link link-body-emphasis" href="{% url 'blog:category' category.pk %}">Мировые</a>
    <a class="nav-item nav-link link-body-emphasis" href="{% url 'blog:category' category.pk %}">Россия</a>
    <a class="nav-item nav-link link-body-emphasis" href="{% url 'blog:category' category.pk %}">Технологии</a>
    <a class="nav-item nav-link link-body-emphasis" href="{% url 'blog:category' category.pk %}">Дизайн</a>
    <a class="nav-item nav-link link-body-emphasis" href="{% url 'blog:category' category.pk %}">Культура</a>
    <a class="nav-item nav-link link-body-emphasis" href="{% url 'blog:category' category.pk %}">Бизнес</a>
    <a class="nav-item nav-link link-body-emphasis" href="{% url 'blog:category' category.pk %}">Политика</a>
    <a class="nav-item nav-link link-body-emphasis" href="{% url 'blog:category' category.pk %}">Мнение</a>
    <a class="nav-item nav-link link-body-emphasis" href="{% url 'blog:category' category.pk %}">Наука</a>
    <a class="nav-item nav-link link-body-emphasis" href="{% url 'blog:category' category.pk %}">Здоровье</a>
    <a class="nav-item nav-link link-body-emphasis" href="{% url 'blog:category' category.pk %}">Стиль</a>
    <a class="nav-item nav-link link-body-emphasis" href="{% url 'blog:category' category.pk %}">Путешествия</a>
</nav>