SECRET_KEY="Your_secret_Key"
DEBUG=True/False

NAME=your_dbname
USER=your_db_user
PASSWORD=your_db_pass
HOST=your_host
PORT=your_port

EMAIL_HOST=your.email.host
EMAIL_PORT=your_email_port
EMAIL_USE_TLS=True/False
EMAIL_USE_SSL=False/True
EMAIL_HOST_USER=your-email-host
EMAIL_HOST_PASSWORD=your-host-password

LOCATION=your/location