{% extends 'blog/base.html' %}
{% load custom_tags  %}
{% block content %}

    {% if object.is_deleted %}
        <div class="alert alert-warning">
            Профиль был удален {{ object.deleted_at|date:"d.m.Y в H:i" }}
        </div>

    {% else %}
        <!-- Вывод обычного профиля -->
        <h1 class="display-4">Профиль {{ object.first_name moderator.last_name }}</h1>
        {% if object.avatar %}
        <!-- Если фото есть: выводим его -->
        <img src="{{ object.avatar | media_filter }}" width="50" height="50" class="rounded-circle shadow-sm">
        {% else %}
        <!-- Если фото нет: выводим стандартную иконку (например, "человечка") -->
        <svg class="bi text-body-secondary" width="50" height="50" fill="currentColor">
            <use xlink:href="#person-circle"></use> <!-- ID иконки из хранилища -->
        </svg>
        {% endif %}

4            <div>
                <a href="{% url 'blog:moderator_update' object.pk %}" class="card-link btn ">Изменить</a>
            </div>
        {% endif %}

        <p class="text-center mt-2">
            <small class="text-body-secondary">Присоединился {{ object.joined_at|date:"F Y" }}</small>
        </p>

    {% endif %}
{% endblock %}