{% load custom_tags %}
<div>
    <!-- Заголовок меню -->
    <div class="navbar-brand text-white mb-auto d-flex align-items-center gap-2">
        <div class="logo-img">
            <img src="{{ site.logo | media_filter }}" alt="logo">
        </div>
        <strong class="ms-3">Меню</strong>
    </div>

    <!-- Вертикальные кнопки меню -->
    <nav class="column">
        <a class="nav-link pe-auto" href="{% url 'catalog:main' %}">Главная</a>
        <a class="nav-link pe-auto" href="{% url 'catalog:catalogue' %}">Каталог</a>
        <a class="nav-link pe-auto" href="#">Заказы</a>
        <a class="nav-link pe-auto" href="{% url 'catalog:contacts' %}">Контакты</a>
        <a class="nav-link pe-auto" href="{% url 'blog:home' %}" onclick="alert('Это приложение еще в разработке!')">Наш блог</a>
    </nav>
</div>

<!-- Секция пользователя (внизу) -->
<div class="user-section">
    <div class="dropdown d-flex align-items-center mb-2 p-1 rounded hover-bg-dark">
        <!-- Фото пользователя -->
        <div class="user-img"><img src="{{ user.photo | media_filter }}" alt="photo"></div>
        <button class="btn btn-dark btn-sm dropdown-toggle bg-dark text-white border-secondary pe-auto ms-2"
                type="button"
                id="userMenu"
                data-bs-toggle="dropdown"
                aria-label="User menu">
            Пользователь
            </button>


            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="userMenu">
                {% if user.is_authenticated %}
                    <li>
                        <a class="btn text-white pe-auto" href="{% url 'users:profile' pk=user.pk %}">Профиль</a>
                    </li>

                    <li>
                        <form method="post" action="{% url 'users:logout' %}?next={{ request.path }}">
                            {% csrf_token %}
                            <button  type="submit" class="btn dropdown-item text-white pe-auto">Выход</button>
                        </form>
                    </li>
                {% else %}
                    <li>
                        <a class="btn text-white pe-auto" href="{% url 'users:registration' %}?next={{ request.path }}">Регистрация</a>
                    </li>

                    <li>
                        <a class="btn text-white pe-auto" href="{% url 'users:entry' %}?next={{ request.path }}">Вход</a>
                    </li>
                {% endif %}
            </ul>

    </div>
</div>
