<div class="modal fade" id="confirmModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Подтвердите действие</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body text-center">
                {% if object.is_published %}
                    Вы уверены, что хотите снять с публикации "<strong>{{ object.name }}</strong>"?
                {% else %}
                    Вы уверены, что хотите опубликовать "<strong>{{ object.name }}</strong>"?
                {% endif %}
            </div>

            <div class="modal-footer d-flex justify-content-center gap-2">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Не публиковать
                </button>

                <button type="submit" form="publishFormTag" class="btn btn-danger">
                    Публикую
                </button>
            </div>

            <!-- Форма, которая отправит запрос на контроллер -->
            <form id="publishFormTag" action="{% url 'catalog:product_publish' object.pk %}" method="post" style="display: none;">
                {% csrf_token %}
            </form>
       </div>
    </div>
</div>
