{% extends 'base.html' %}
{% block content %}
    <figure class="text-center mb-5">
            <h1 class="display-4">Главная</h1>
            <p class="text-muted">Вы находитесь на сайте, предназначенном для продажи товаров</p>
    </figure>

    <!-- Карточки товаров -->
    <div class="cards-scroll-container">
        {% for product in products %}

            <!-- Карточка -->
            <div class="card-item">
                <!-- Добавлен класс border-secondary для видимых границ -->
                <div class="card border-secondary h-100 overflow-hidden">
                    <div class="card-body">
                        <h4 class="card-title">{{ product.name }}</h4>
                        <h3 class="card-subtitle mb-2 text-center">$ {{ product.price }}</h3>
                        <p class="card-text user-select-all pe-auto">{{ product.description }}</p>
                        <!-- Кнопка с классом border-primary для четкой границы -->
                        <a href="#" class="btn btn-outline-primary border-2 w-100 my-btn pe-auto">Купить</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}