.text-body-secondary {
    white-space: nowrap;
}

.my-btn-group .card-link {
    margin-left: 0 !important;
    margin-right: 0 !important;
    display: inline-flex; /* Используем flex для кнопок внутри */
    align-items: center;
    justify-content: center;
}

/* Убираем рамку и скругления */
.btn-left {
    border-radius: 6px 0 0 6px !important;
    border-right: none !important;
}

.btn-right {
    border-radius: 0 6px 6px 0 !important;
    border-left: none !important;
}

/* Ховер для красоты */
.my-btn:hover {
    background-color: #f0f0ff;
}

.my-column {
    width: 100% !important; /* Вместо 250px */
    box-sizing: border-box; /* Чтобы border не раздувал ширину */
    display: flex;
    flex-direction: column;
    border: 1px solid #00000 !important;
    padding: 1px;

}

.container {
    margin-top: 5px;
}


/*
// Для карточки (или используйте .card, если хотите рамку вокруг всей карточки)
.my-card {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between;
    flex-shrink: 0 !important;   // ЗАПРЕЩАЕТ карточке сжиматься
    border: 1px solid #000 !important; // !important нужен, чтобы перебить стили Bootstrap
    border-radius: 6px; /* чтобы углы были красивыми
    margin-top: 30px !important;
    width: 200px !important;
    height: 190px;
}*/

/* Для кнопки */
.my-btn {
    border: 1px solid #0000FF !important;
    color: #0000FF !important; /* Правильное свойство цвета текста */
    text-decoration: none;  /* Убрать подчеркивание */
    padding: 0px 12px; /* Убрал верхний/нижний padding, чтобы line-height работал */
    height: 30px;
    font-size: 14px;
    line-height: 28px; /* ВАЖНО: высота строки равна высоте кнопки */
}

/* Если хотите именно card-body (внутренняя часть), то так: */
/*.card-body {
    border: 1px solid #000500 !important;
}*/
