.text-muted {
    flex-grow: 1; /* Основной контент занимает остальное пространство */
    padding: 0rem;
    background-color: #f8f9fa;
    opacity: 0.5; /* Сделает прозрачным весь элемент */
    white-space: nowrap; /* Запрещает перенос строки */
    font-size: 1.1rem;    /* Подберите размер (например, 1rem или 14px) */
    overflow: hidden;    /* Скроет текст, если он шире экрана (на всякий случай) */
    text-overflow: ellipsis; /* Добавит три точки, если не влезет */
}

.my-card {
    max-width: 100px;    /* Не дает карточке вылезти за пределы колонки сетки */
    height: 100px;      /* Или любая удобная вам ФИКСИРОВАННАЯ высота */
    display: flex;
    flex-direction: column;
    overflow: hidden;   /* Обрезает всё, что пытается вылезти */
}

.card-img-top,
.object-fit-contain {
    width: 100%;        /* Растягиваем по ширине карточки */
    height: 100%;      /* Фиксируем высоту именно для медиа-зоны */
    /* object-fit: cover;  /* Вариант А: Заполнит всё пространство (может чуть обрезать края) */
    object-fit: contain;  /* Вариант Б: Впишет картинку целиком (могут быть пустые поля) */
}

.my-card-item {
    flex: 0 0 300px;
    scroll-snap-align: start;
}

.my-card-body {
    box-sizing: border-box;
    max-width: 100%;
    overflow: hidden;
}

.cards-scroll-container {
    margin-left: 20px;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important; /* В ряд без переноса */
    overflow-x: auto !important;  /* Включаем прокрутку */
    gap: 15px;                    /* Расстояние между карточками */
    justify-content: flex-start;  /* Карточки прижаты к началу */
    padding-bottom: 15px;
    width: 100%;       /* Занимаем всё пространство */
    max-width: 100vw;  /* Ограничиваем шириной видимого экрана */
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

/* Сама дорожка, по которой бегает ползунок */
.cards-scroll-container::-webkit-scrollbar {
    height: 8px; /* Высота полоски снизу */
}

/* Сам ползунок (за который "хватаемся") */
.cards-scroll-container::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* (Опционально) Фон дорожки */
.cards-scroll-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.my-btn-sec {
    border: 1px solid #0000FF !important;
    width: 100% !important;
    color: #0000FF !important; /* Правильное свойство цвета текста */
    text-decoration: none;  /* Убрать подчеркивание */
    text-align: center;
    padding: 0px 12px; /* Убрал верхний/нижний padding, чтобы line-height работал */
    height: 30px;
    font-size: 14px;
    line-height: 28px; /* ВАЖНО: высота строки равна высоте кнопки */
}

.btn-secondary {
    margin-right: 350px !important;
    margin-left: -350px !important;
}