.profile-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%; /* 50% сделает круг */
    border: 3px solid #198754;
    margin-bottom: 10px;
}

.logo-img {
    width: 24px;
    height: 24px;
    margin: 8px;
    /* Используем placeholder, замените на реальный путь к логотипу */
    background-color: #0d6efd;
}

.display-4 {
    flex-grow: 1; /* Основной контент занимает остальное пространство */
    padding: 0rem;
    background-color: #f8f9fa;
}

.text-muted {
    margin-left: 250px;
    flex-grow: 1; /* Основной контент занимает остальное пространство */
    padding: 0rem;
    background-color: #f8f9fa;
    opacity: 0.5; /* Сделает прозрачным весь элемент */
    white-space: nowrap; /* Запрещает перенос строки */
    font-size: 1.1rem;    /* Подберите размер (например, 1rem или 14px) */
    overflow: hidden;    /* Скроет текст, если он шире экрана (на всякий случай) */
    text-overflow: ellipsis; /* Добавит три точки, если не влезет */
}

.sidebar .nav-link {
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    text-align: left;
}

.sidebar {
    width: 250px; /* Фиксированная ширина боковой панели */
    background-color: #212529; /* Темный фон, как на изображении */
    color: #FFFFFF;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between; /* Прижимает меню вверх, а пользователя вниз */
    padding: 1rem;
    flex-shrink: 0; /* Не дает сайдбару сжиматься */
}

.my-column {
    width: 100% !important; /* Вместо 250px */
    box-sizing: border-box; /* Чтобы border не раздувал ширину */
    display: flex;
    flex-direction: column;
    border: 1px solid #00000 !important;
    padding: 1px;

}

.main-content {
    flex-grow: 1; /* Основной контент занимает остальное пространство */
    padding: 2rem;
    background-color: #f8f9fa;
}

.container {
    margin-top: 5px;
}

body {
    display: flex; /* Используем flexbox для размещения сайдбара и контента */
    min-height: 100vh;
    margin: 1;
}

.my-card {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between;
    border: 1px solid #000 !important; /* !important нужен, чтобы перебить стили Bootstrap */
    margin-top: 30px !important;
}

