{% extends 'catalog/base.html' %}
{% load humanize %}
{% block content %}

    <figure class="text-center mb-5">
            <h1 class="display-4">Главная</h1>
            <p class="text-muted">Вы находитесь на сайте, предназначенном для продажи товаров</p>
    </figure>

    <!-- Карточки товаров -->
    <p style="align: center;">Всего товаров: {{ object_list.count|default:0 }}</p>
    <div class="cards-scroll-container">

        {% for product in object_list %}

            <!-- Карточка -->
            <div class="card-item">
                <!-- Добавлен класс border-secondary для видимых границ -->
                <div class="card border-secondary h-100 overflow-hidden">
                    <div class="card-body">
                        <h4 class="card-title">{{ product.name }}</h4>
                        <h3 class="card-subtitle mb-2 text-center">$ {{ product.price }}</h3>
                        <p class="card-text user-select-all pe-auto">{{ product.description|default:"Описание отсутствует."|truncatechars:100 }}</p>
                        <!-- Кнопка с классом border-primary для четкой границы -->
                        <a href="{% url 'catalog:product' product.id %}" class="btn btn-outline-primary border-2 w-100 my-btn pe-auto">Просмотреть</a>
                        <a href="#" class="btn btn-outline-primary border-2 w-100 my-btn pe-auto">В корзину</a>
                        <a href="#" class="btn btn-outline-primary border-2 w-100 my-btn pe-auto">Купить</a>
                    </div>
                </div>
            </div>

        {% empty %}
        <!-- Если это вывелось - значит QuerySet пустой (товаров в БД нет) -->
        <div class="d-flex justify-content-center alert alert-warning">
            Товаров пока нет.
        </div>

        {% endfor %}

    </div>
{% endblock %}